
body{
  width: 1280px;
  margin: 0px auto;
}
.header{
  width: 1280px;
  height: 560px;
  background-image: url("../images/header_background.png");
  background-size: 100% auto;
}
.logo{
  width: 380px;
  height: 65px;
  margin-left: 85px;
  margin-top: 20px;
  margin-right: 350px;
}
.left{
  float: left;
}
/*以下實作nav*/
.site-nav{
  width: 390px;
  height: 35px;
  margin-right: 45px;
  margin-bottom: 25px;
  margin-top: 55px;
}
.site-nav ul {
    margin: 0;
    padding: 0;
}
.site-nav li {
  list-style: none;
  float: left;
  margin-left: 35px;
}
.site-nav a{
  display:block;
  font-family: Arial;
  font-weight: bolder;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
}
.site-nav li:hover > a {
    color: #FF8C00;
}
.site-nav li li {
	float: none;
	margin-right: 0px;
  margin-left: 0px;
}
.site-nav li ul {
  opacity: 0;
  visibility: hidden;
	transition: all .25s ease;
  position: absolute;
  text-align: center;
  box-shadow: 0 3px 6px 0px rgba(0,0,0,0.32);
}
.site-nav li:hover ul {
  opacity: 1;
	visibility: visible;
}
.site-nav > li > ul > li > a{
  padding: 10px 10px;

}
.site-nav li li a:hover {
    background-color: #4D4D4D;
    color: #FFD700;
}
.link {
  cursor: pointer;
}


.nomargin{
  margin: 0px;
}
.div-2{
  width: 1260px;
  height: 560px;
  background-color: #292929;
  background-size: 100% auto;
}
.images{
  width: 375px;
  height: 270px;
}
.div-2-1{
  width: 375px;
  height: 510px;
  margin: 50px 30px 0px 40px;
  text-align: center;
}
.div-2-1-1{
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  color: #FFF;
}
.div-2-1-2{
  width: 270px;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  color: #C0C0C0;
  margin: 0 auto;
  margin-top: 5px;
}
.div-2-2{
  width: 375px;
  height: 510px;
  margin: 50px 30px 0px 0px;
  text-align: center;
}
.div-2-2-1{
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  color: #FFF;
}
.div-2-2-2{
  width: 270px;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  color: #C0C0C0;
  margin: 0 auto;
  margin-top: 5px;
}
.div-2-3{
  width: 375px;
  height: 510px;
  margin: 50px 0px 0px 0px;
  text-align: center;
}
.div-2-3-1{
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  color: #FFF;
}
.div-2-3-2{
  width: 270px;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  color: #C0C0C0;
  margin: 0 auto;
  margin-top: 5px;
}
.div-3{
  width: 1260px;
  height: 435px;
  background-color: #1C1C1C;
  background-size: 100% auto;
}
.div-3-1{
  width: 490px;
  height: 435px;
  margin-top: 72px;
  margin-left: 64px;
}
.images-2{
  width: 425px;
  height: 275px;
}
.div-3-2{
  width: 706px;
  height: 435px;
  text-align: center;
}
.div-3-2-1{
  margin-top: 50px;
  color: #FFF;
  font-size: 40px;
}
.div-3-2-2{
  width: 450px;
  margin: 0 auto;
  margin-top: 20px;
  color: #C0C0C0;
  font-size: 32px;
}
.div-3-2-3{
  width: 410px;
  height: 100px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  color: #000000;
  font-size: 32px;
  background-color: #94F161;
  line-height:100px;
  border:2px solid;
  border-radius:25px;
  text-decoration: none;
}
.div-3-2-3:hover{
  background-color: #7BED3B;
  box-shadow: 0 3px 6px 0px rgba(0,0,0,0.32);
}
.div-4{
  width: 1260px;
  height: 90px;
  background-color: #4D4D4D;
  background-size: 100% auto;
}
.div-4-1{
  width: 350px;
  margin-left: 110px;
  margin-top: 35px;
  color: #FFF;
}
.div-4-2{
  float: right;
  width: 230px;
  margin-right: 80px;
  margin-top: 20px;
  color: #FFF;
}
.images-3{
  width: 45px;
  height: 45px;
  margin-right: 30px;
}
.images-3-nomargin{
  width: 45px;
  height: 45px;
}
